email_domains=["*"]
upstreams=["file:///dev/null"]
# OAuth Provider
provider="keycloak-oidc"
provider_display_name="Keycloak"
#scope =
redirect_url="https://${OAUTH_PROXY_DOMAIN}/oauth2/callback"
oidc_issuer_url="https://auth.${DOMAIN}/realms/hopps"
# Header Configuration
pass_authorization_header="true"
pass_access_token="true"
pass_user_headers="true"
set_authorization_header="true"
set_xauthrequest=true
# cookie configuration
cookie_refresh="5m"
cookie_expire="30m"
cookie_domains=[".${DOMAIN}", ".${DOMAIN_2}", ".${DOMAIN_3}"] # Required so cookie can be read on all subdomains.
# domain configuration
whitelist_domains=[".${DOMAIN}", ".${DOMAIN_2}", ".${DOMAIN_3}"] # Required to allow redirection back to original requested target.
cookie_samesite="lax"